Programming_in_Scala/chapter4/ChecksumAccumulator.class
Programming_in_Scala/chapter4/ChecksumAccumulator$.class
Programming_in_Scala/chapter4/FallWinterSpringSummer.class
Programming_in_Scala/chapter4/FallWinterSpringSummer$.class
Programming_in_Scala/chapter4/FallWinterSpringSummer$delayedInit$body.class
